.about-title {
    background: -webkit-linear-gradient(rgb(21, 220, 255), rgb(14, 54, 255));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.about-subtitle {
    background: -webkit-linear-gradient(rgb(21, 220, 255), rgb(14, 54, 255));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.about-description {
    text-align: justify;
    color: white;
    font-size: 24px;
    font-family: Inter;
    word-wrap: break-word
}

.big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../../../public/theme_bg.jpeg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.80);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}