.portfolio-title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px
}

.portfolio-category {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: 'break-word';
    cursor: pointer;
}

.portfolio-view-all {
    text-align: center;
}

.portfolio-button-view-all {
    display: inline;
    background: linear-gradient(180deg, #5158F7 0%, #3CB1F3 100%);
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
}


.big-image-portfolio {
    padding-top: 20px;
    padding-bottom: 100px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 23, 23, 0.5) ),url("../../../public/theme_2.avif");
}