.portfolio-title {
    text-align: center;
    color: rgb(74, 74, 255);
    font-size: 48px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px
}

.portfolio-category {
    text-align: center;
    color: rgb(74, 74, 255);
    font-size: 24px;
    font-weight: 700;
    word-wrap: 'break-word';
    cursor: pointer;
}

.portfolio-view-all {
    text-align: center;
}

.portfolio-button-view-all {
    display: inline;
    background: white;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
    color: rgb(74, 74, 255);
    font-weight: bold;
}


.big-image-portfolio {
    height: 150vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
    background-image: url("../../../public/34b84e428dd040619396.jpg");
}

.overlay-portfolio {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}