.card-title {
    background: white;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-content {
    color: white;
    text-align: justify;
}

.card-div {
    border: 10px solid;
    border-image-slice: 1;
    height: 100%;
    border-width: 5px;
    border-image-source: linear-gradient(180deg, white 0%, white 100%);
}

.card-icon {
    align-self: center;
}