.common-container {
  /* position: absolute */
}

.menu-item{
  color: white !important;
  font-weight: 700 !important; 
  word-wrap: break-word !important
}

.menu-item:hover{
  color: #02D7E5 !important;
}

.menu-parent{
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(180deg, rgb(74, 74, 255) 0%, rgb(74, 74, 255) 100%)
}