.common-container {
  /* position: absolute */
}

.menu-item{
  color: white !important;
  font-weight: 700 !important; 
  word-wrap: break-word !important
}

.menu-item:hover{
  color: #02D7E5 !important;
}

.menu-parent{
  justify-content: flex-end;
}