.big-image-service {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .overlay-service {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(137, 137, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }